<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

    <title>CAR sales</title>
</head>
<body>
<div class="container py-3">
    <header th:insert="blocks/header :: header"></header>
    <main>
        <div class="card" style="width: 100%">
            <div class="card-header">
                Выберете марку автомобиля.
            </div>
            <div class="card-body">
                <form th:action="@{/createCar}" method="get">
                    <div class="col-md-4">
                        <label for="mark.id">Выберете марку автомобиля</label>
                        <div class="input-group mb-3">
                            <select class="form-control" id="mark.id" name="mark.id">
                                <option th:each="mark:${marks}"
                                        th:value="${mark.id}"
                                        th:text="${mark.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-outline-secondary">Выбрать марку</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>